azure-identity~=1.17.1
azure-monitor-opentelemetry~=1.6.2
aiohttp~=3.10.10
botbuilder-core~=4.16.2
botbuilder-azure~=4.16.2
botbuilder-integration-aiohttp~=4.16.2
botbuilder-dialogs~=4.16.2
openai~=1.54.4
opentelemetry-instrumentation-aiohttp-client~=0.48b0
opentelemetry-instrumentation-aiohttp-server~=0.48b0
pydantic~=2.9.2
pydantic-settings~=2.6.1
