azure-identity~=1.17.1
botbuilder-core~=4.16.1
botbuilder-integration-aiohttp~=4.16.1
botbuilder-applicationinsights~=4.16.1
botbuilder-integration-applicationinsights-aiohttp~=4.16.1
pydantic-settings~=2.2.1
pydantic~=2.7.0
openai~=1.42.0
